html{height:100%;
width:100%;

}
body{
    margin:0;
    padding:0;
    height: 800px;
    overflow: hidden;
    font-family: calibri, serif;
    color:#d9d9d9;
}


@-webkit-keyframes schiuma_3 {
  0% {top:0px}
  60% {top:20px}
  100% {top:0px;}  
}
@keyframes schiuma_3 {
  0% {top:0px}
  60% {top:20px}
  100% {top:0px;}  
}

#bgCanvas{
    z-index:1;
    width:100%;
    height:100%;
    z-index: 10;
    top:0;
    left:0;
    position: absolute;
}