@charset "UTF-8";
/* CSS Document */



#gradient {
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(186,186,186,1) 100%);
}


/* Background Animation */
/*#background {
	overflow: hidden;
	position: relative;
	text-align: center;
}

#background img {
    min-width:100%;
	-webkit-animation-duration: 275s;
    -webkit-animation-name: slidein;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}*/


 