@charset "UTF-8";
/* CSS Document */

body {
	width:100%;
	margin: 0px;
}

@media only screen and (min-width: 1280px) {
	    body {
			height:100%;
	    }
	}
	
@media only screen and (min-width: 1360px) {
	    body {
			height:100%;
	    }
	}
	
@media only screen and (min-width: 1920px) {
	    body {
			height:100%;
	    }
	}
	
@media only screen and (min-width: 3840px) {
	    body {
			height:100%;
	    }
	}

#content {
	width:100%;
	height:100%;
	margin:0px
}

