    body {
      margin: 4em;
      min-width:100%;
      min-height:100%;
      background-color:black;
      overflow:hidden;
	  /*background-image:url(../images/background.jpg);*/
	  /*background-repeat: no-repeat;*/
    }

#verdade{
position:absolute;
  width:100%;
  left:-50%;
  top:50%;
}

    .photo {
      transition: 360s ease-out;
      width:200%;
      height:10px;
      background-color:#fff;
      margin:1em;
      list-style:none;
      position:absolute;
      opacity:0.05;
      -webkit-filter: blur(10px) brightness(1.5);
    }